.top-header {
    box-shadow: 0 4px 5px var(--navbar-color-sombra);
    position: fixed;
    background-color: var(--menu-fondo);
    left:0;
    top:0;
    width: 100%;
    z-index: 100;
    background: linear-gradient(var(--menu-fondo),var(--navbar-color-sombra));
}

.topnav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
}

/* logo */

.logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--body-fondo);
}

.logotype {
    display: flex;
    justify-content: center;
}

.logo img {
    border-radius: 50%;
    padding-right: 10px;
}

/* Menu */

.menu {
    display: flex;
    list-style: none;
    margin:0;
    padding: 0;
}

.menu li {
    padding: 0 15px;
    color: var(--menu-fondo);
    height: 70px;
}

.menu a {
    color: var(--menu-opcion);
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
    height: 30px;

}

.menu a::after {
    content:"";
    background-color: var(--navbar-color-sombra);
    position: absolute;
    left: 0;
    top: calc(100% + 4px); 
    width: 100%;
    height: 4px;
    opacity: 0;
    transform-origin:right;
    transform:scaleX(0);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;

}

.menu a.selected::after,
.menu a:hover::after {
    transform-origin:left;
    transform:scaleX(1);
}

.open-menu,
.close-menu {
    display: none;
    cursor: pointer;
}

@media(max-width: 950px) {

    /* Menu */

    .menu {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 45%;
        align-items: center;
        background-color: var(--menu-mobile-fondo);
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
        border-radius: 0 0 0 50px;
    }

    .menu li {
        padding: 0 0;
    }

    .menu a {
        color: var(--menu-opcion);
        line-height: 60px;
    }

    .menu a:hover {
        color:var(--navbar-color-sombra);
    }
    .open-menu,
    .close-menu {
        display: block;
        scale: 80%;
        border: none;
        background: none;
        cursor: pointer;
    }

    .close-menu {
        align-self: flex-end;
        padding: 20px 15px;
    }

    .menu_opened {
        opacity: 1;
        pointer-events: all;
    }
}

@media(orientation:landscape) {
    .menu {
        height: 100%;
        width: 50%;
        left:50%
    }
}